<!DOCTYPE html>
<html>
  <head>
    <title>RubyTwitterProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

    <h1>Tweet</h1>
    <h2> message: <%= @msg %> </h2>

  </body>
</html>