<!DOCTYPE html>
<html>
  <head>
    <title>RubyTwitterProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

    <h1>Home</h1>
    <h2> nunbers of tweets: <%= @tweet %> </h2>

  </body>
</html>