* {
    margin: 0;
    font-family: arial;
    --profile-width: 600px;
}

html {
    background: black;
}

main {
    border-left: 1px rgb(47, 51, 54) solid;
    border-right: 1px rgb(47, 51, 54) solid;
    width: 600px;
    margin-top: 50px;
    height: fit-content;
}

body {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

nav {
    position: fixed;
    width: inherit;
    top: 0;
    background: black;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav * {
    margin: 0 10px;
}

img {
    object-fit: cover;
}

input {
    background: #000000;
    border-color: grey;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    border: #1D9BF0 solid 1px;
}

input:hover {
    background: #202020;
}

.imgbtn {
    border-radius: 50%;
}

.imgbtn:hover {
    background-color: #202020;
}

.main-content {
    display: flex;
    justify-content: center;
}

.profile-content {
    width: var(--profile-width);
    display: flex;
    border-bottom: 1px rgb(47, 51, 54) solid;
    height: fit-content;
}

.tweet-area {
    width: var(--profile-width);
    display: flex;
    border-bottom: 1px rgb(47, 51, 54) solid;
    height: fit-content;
}

.header-profile {
    padding: 0px 2%;
}

.follow-button {
    background: #1D9BF0;
}

.follow-button:hover {
    background-color: #1a8cd8;
    cursor: pointer;
}

.principal-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px;
}

.profile-photo {
    border-radius: 50%;
    border: solid grey;
    margin-right: 2rem;
    overflow: hidden;
    display: inline-table;
}

.username {
    margin-bottom: 10px;
}

.follow-info {
    display: flex;
    justify-content: space-evenly;
}

.tweets {}

.modal-container-profile {
    position: absolute;
    background-color: #7a7a7a66;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-profile {
    background-color: #000000;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.modal-save {
    background-color: #1d9bf0;
}

.modal-save:hover {
    background-color: #1a8cd8;
    cursor: pointer;
}

.form-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text_field {
    margin-bottom: 15px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin-bottom: 15px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: solid grey;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}