body {
    align-items: center;
    
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image:url('login.jpeg');
    background-repeat:no-repeat;
    background-size:contain;
    background-size: 100%;
    background-position:center;
    }

    .limiterSignUp{
        width: 100%;
    }
    .mainSignUp{
        display: flex;
        flex-direction:row ;
    }
    
    .form {
    margin-left:auto ;
    margin-right: auto;  
    min-height: 500px;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    .titleSignUp {
    color: #eee;
    font-family: sans-serif;
    font-size: 53px;
    font-weight: 300;
    margin-top: 30px;
    }
    .subtitleSignUp {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
    }
    .input-container {
    height: 50px;
    position: relative;
    width: 100%;
    min-width: 380px;
    }
    .ic1 {
    margin-top: 40px;
    }
    .ic2 {
    margin-top: 30px;
    }
    .inputSignUp {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    }
    .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
    }
    .cut-short {
    width: 50px;
    }
    .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
    }
    .submit:active {
    background-color: #06b;
    }

    img{
        inset: 0px;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }