.trendsLayout {
    border: 1px solid rgb(20, 22, 23);
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    width: 350px;
    flex-direction: column;
    background-color: #16181c;
    overflow: hidden;
}

.title {
    font-size: 20px;
    padding: 12px 0 12px 12px;
    font-weight: bolder;
    border-bottom: solid 1px rgb(20, 22, 23);
}

.trendsFragment {
    display: flex;
    padding: 12px 0 12px 12px;
    justify-content: space-between;
    align-items: flex-start;
    transition: background 0.3s ease;
}

.trendsFragment:hover {
    cursor: pointer;
    background: rgb(34, 36, 40);
}

.fragText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trendsData {
    font-size: 12px;
    color: grey;
}

.followSpeData {
    font-size: inherit;
}

.trendsName {
    font-weight: bold;
}

.dotImgTrends {
    opacity: 0.6;
    margin-right: 8px;
}

.followBtn {
    display: flex;
    align-items: center;
    padding: 0 16px 0 16px;
    color: #16181c;
    font-weight: bold;
    background-color: #eff3f4;
    margin: 0 10px;
    min-width: 32px;
    font-size: 14px;
    min-height: 32px;
    border-radius: 100px;
    transition: background 0.2s ease;
}

.followBtn:hover {

    background-color: #d1d5d6;
}


@media screen and (max-width:1150px) {

    .trendsLayout {
        display: none;
    }
}