<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "trendsFollowLayout.css" %>
  </head>
  <body>
    
    <div class="trendsLayout">
      
      <div class="title">
        Who to follow
      </div>
    
      <div class="trendsFragment">
        
        <div class="fragText">
          
          <div class="trendsName">
              <% hash = User.where(id: rand(User.count)) %>
                  <% hash.each do |user| %>
                  <%= user[:pseudo] %>
              <% end %>
          </div>
         
          <div class="trendsData followSpeData">
            @ <% hash2 = User.where(id: rand(User.count)) %>
                  <% hash2.each do |user| %>
                  <%= user[:userName] %>
              <% end %>
          </div>
        
        </div>
       
        <div class="followBtn">
          Follow
        </div>
      
      </div>
     
   

    </body>
  </html>
