<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <%= stylesheet_link_tag "trendsLayout.css" %>
  </head>
  <body>
   

    <div class="trendsLayout">

            <div>Trends for you<div>
        <div>
       
        <div class="trendsFragment">
          
            <div class="subject">
                Subject - Trending
            </div>
          
            <div class="name">
                Name FirstName
            </div>
            
            <div class="tweetNbr">
                45k Tweets
            </div>
       
        </div>
        
        <div class="dots">
          ...
        </div>
     
      </div>
      
    </div>

  </body>
</html>
